<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bumptech.searchbuddy">

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SearchBuddy"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name="com.searchbuddy.searchbuddy.Blogs"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Applied_succesfully"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.FirstScreen"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.EnterOtp"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.LoginWithOTP"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.BrowseJobsDescription"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.FragmentActivity"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.BrowseJobs"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Forms.Signup_prefrences"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Forms.Signup_Work_History"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Forms.Signup_Education_Details"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Forms.Signup_CV"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.AddProfessionalDetail"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.AboutUs"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.ContactUs"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Faq"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.ProfileSetting"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.Prefrence"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.ProfessionalDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.PersonalDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.Education_details"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Profile.BasicDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Dashboard.Dashboard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Forms.Form_One"
            android:exported="false" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.ResetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.ForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.Signup"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.LoginSignup"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Login.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.searchbuddy.searchbuddy.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.searchbuddy.searchbuddy.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.captureimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name="com.searchbuddy.searchbuddy.MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>