<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.searchbuddy">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SearchBuddy"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        tools:replace="android:label"
        tools:targetApi="31">
        <activity
            android:name=".Login.BrowseJobsDescription"
            android:exported="false" />
        <activity
            android:name=".Login.FragmentActivity"
            android:exported="false" />
        <activity
            android:name=".Login.BrowseJobs"
            android:exported="false" />
        <activity
            android:name=".Forms.Signup_prefrences"
            android:exported="false" />
        <activity
            android:name=".Forms.Signup_Work_History"
            android:exported="false" />
        <activity
            android:name=".Forms.Signup_Education_Details"
            android:exported="false" />
        <activity
            android:name=".Forms.Signup_CV"
            android:exported="false" />
        <activity
            android:name=".Profile.AddProfessionalDetail"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".ContactUs"
            android:exported="false" />
        <activity
            android:name=".Faq"
            android:exported="false" />
        <activity
            android:name=".ProfileSetting"
            android:exported="false" />
        <activity
            android:name=".Profile.Prefrence"
            android:exported="false" />
        <activity
            android:name=".Profile.ProfessionalDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.PersonalDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.Education_details"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile.BasicDetails"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard.Dashboard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Forms.Form_One"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.ResetPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.ForgotPassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Signup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.LoginSignup"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login.Login"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.captureimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>